@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    font-family: 'Roboto', poppins;
    color: black;
}
h2{
    font-family: 'Poppins';
    text-transform:  uppercase;
    letter-spacing: 4px;
}

.container-fluid {
    padding: 1;
}

.row {

    margin-right: 1;
    margin-left: 1;
}

h1 {
    font-size: 170%;
    font-size: 20;
    text-align: center;
    color: #FFFFFF;
}
h2 {
    font-size: 200%;
    font-size: 20;
    text-align: center;
    color: rgb(128, 134, 237);
}

.content {
    line-height: 25px;
    text-align: center;
    color: aqua;
}

/*-- Header --*/

#title {
font-size: 120%;
font-family: 'Roboto', poppins;
font-weight: 250;
color: #8086ed;
}

.navbar {
    position: fixed;
    text-align: center;
    top: 0;
    background-color: dark;
    width: 100%;
    z-index: 1;
}

.navbar-nav {
    position: fixed;
    text-align: center;
    font-size: 100%;
    font-family: 'Poppins';
    
}
#menu a{
    text-decoration: underline;
    color: ;
}
#menu a:hover{
    border-bottom: 1px solid #fc0e28;
}
.active:hover{
    border-bottom: 1px solid cyan;
}

.navbar-nav .navbar-light .active .nav-link {
    color: #fc0e28;
}
.navbar-nav .nav-link  .active.nav-link,
.navbar-nav .nav-link  .nav-link.active,
.navbar-nav .nav-link  .show.nav-link,
.navbar-nav .nav-link  .nav-link.show 
    

.navbar-toggler {
    border: none;
    margin: 15;
    color: palegreen
}
.navbar-collapse {
    text-align: center;
}
@media only screen and (min-width:690px)
{
    #logoN {
        font-size: 80%;
        margin-bottom: 40px;}

}

/*-- Hero images--*/

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}


.order-first 


.modal-fullscreen-md-down {
    size: 768px;



.br{
    color: rgb( 219, 219, 220);
}

/*Footers*/

footer{
    height: 100px;
    width: 100%;
}
.social-networks{
    text-align: center;
}
.social-networks li{
    display: inline;
    font-size: medium;
    margin: 1%;
    padding: 5%;
    color: rgb(252, 14, 40);
}
@mixin clearfix() {
  &::after {
    display: block;
    clear: both;
    content: https://www.facebook.com/groups/817257271620591
  }
}

.element {
  @include clearfix;
}

