@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* help fixe bug */
/*html {
    overflow: hidden !important;
} */


* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto', poppins;
    color: black;
}

h1 {
    font-size: 170%;
    font-size: 41;
    text-align: center;
    color: #000000;
}
h2 {
    font-family: 'Roboto', poppins;
    font-size: 200%;
    font-size: 31;
    text-align: center;
    letter-spacing: 2px;
    color: rgb(128, 134, 237);
}
h3 {
    font-family: cursive;
    font-size: 50px;
    color: #8086ed;
}
p {
    font-family: 'Roboto', poppins;
    font-size: 18px;
    font-weight: 300;
}

li {
    font-family: 'Roboto', poppins;
    font-size: 21px;
    font-weight: 400;
}

ul {
    margin: 0 auto;
}

.fa-check {
    color: navy;
    font-size: 21px;
    font-weight: 400;    
}

a {
    text-decoration: none;
    color: #000;
}

a.black:hover {
    text-decoration: none;
    color: #000;
}

.navber img {
    margin: 8px 8px;
}

.content {
    line-height: 25px;
    text-align: center;
    color: aqua;
}

.container-fluid {
    padding: 1;
}
 
.row {

    margin-right: 1;
    margin-left: 1;
}
/* Error Message*/
#erroor-button {
    border: none;
    width: 12em;
    padding: 5px;
    border-radius: 40px;
    background-color: navy;
    margin-top: 31px;

    color: #ffffff;
    font-size: 21px;
    font-weight: 500;
    letter-spacing: 1px;
}
/*-- Header --*/

#title {
font-size: 120%;
font-family: 'Roboto', poppins;
font-weight: 250;
color: #8086ed;
}

.card .btn {
    border: none;
    width: 16em;
    border-radius: 50px;
    margin: 0 auto;
    background-color: #dbdbdc;
    color: #fc0e28;
    font-size: 16px;
    font-weight: 600px;
    letter-spacing: 1px;
}

#card


.nav-join {
    border: none;
    width: 8em;
    padding: 5px;
    border-radius: 50px;
    margin-right: 15px;
    background-color: #8086ed;
    text-decoration: none;
    color: #000;
    font-family: 'Roboto', poppins;
    font-weight: 600;
}

.navbar {
    position: fixed;
    text-align: center;
    top: 0;
    background-color: dark;
    width: 100%;
    z-index: 1;
}

.nav-join:hover {
    background-color: #000000;
}

.nav-active {
    font-weight: 700;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    width: 2em;
    height: 2em;
}

.navbar-nav {
    position: fixed;
    text-align: center;
    font-family: Poppins; 
}

#menu a {
    text-decoration: underline;
    color: cyan;
}
#menu a:hover {
    border-bottom: 1px solid cyan;
}
.active:hover {
    border-bottom: 1px solid cyan;
}

.navbar-nav .navbar-light .active .nav-link {
    color: pink;
}
.navbar-nav .nav-link  .active.nav-link,
.navbar-nav .nav-link  .nav-link.active,
.navbar-nav .nav-link  .show.nav-link,
.navbar-nav .nav-link  .nav-link.show 
    

.navbar-toggler {
    border: none;
    margin: 15;
    color: palegreen
}
.navbar-collapse {
    text-align: center;
}
@media only screen and (min-width:690px)
{
    #logoN {
        font-size: 80%;
        margin-bottom: 40px;}

}

/*-- Hero images--*/

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}



.hero-image-text h1 {
    color: #dbdbdc;
    margin-top: 100px;
    margin-bottom: 4px;
}

.hero-image-home h3 {
    color: #dbdbdc;
    margin-top:  30px;
}

.modal-fullscreen-md-down {
    size: 768px;
}

@media screen and (max-width: 767px) {
    .location-cantainer li {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

.video {
    width: 80%;
    padding: 20;
    text-size-adjust: 0 auto;
}
.row {
    padding-top: 1px;
    vertical-align:  top;
    border-color: navy;
    border-width: 4px;
    border-top-style: solid;
    vertical-align: top;
}
.ifram
/* Location*/
.location-cantainer ul {
    list-style: none;
}
.location-cantainer il {
    font-size: 21px;
}
.location-cantainer h2{
    padding: 30px;
}
.location-cantainer .fas, .location-cantainer .fas {
    padding-right: 5px;
    padding-left: 5px;
}
/*Google map */

.google-map {
    width: 100%;
    height: 480px;
    padding: 2;
    margin: 0 auto;
}

/*Footers*/

.footer-container-desktop {
    background-color: #dbdbdc;
    color: #8086ed;
    margin-top: 90px;
    height: 150px;
}

.footer-container-desktop ul {
    list-style: none;
    text-align: left;
    margin-top: 30px;
}
.footer-container-desktop il {
    justify-content: center;
    vertical-align: middle;
    letter-spacing: 1px;
    font-size: 21;
}
.footer-ctas {
    float: left;
}

.social-media-links {
    float: right;
    color: #fc0e28;
}

.social-media-links i, .social-media-links-mobile i, .social-media-links li span, .social-media-links-mobile li span {
    color: #8086ed;
}

.social-media-links li {
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;
    padding: 21px;
}

.footer-ctas-mobile {
    color: #8086ed;
    position: absolute;
    background-color: #dbdbdc;
    text-align: left;
    height: 70px;
    width: 100%;
    padding: 0;
    margin: 0;
}

.footer-ctas-mobile {
    padding: relative;
    clear: both;
    text-align: center;
    padding: 21px;
}

.footer-ctas-mobile a {
    text-decoration: none;
    color: navy;
}

.footer-text-mobile {
    position: relative;
    clear: both;
    padding: 0;
    margin: 0;
    background-color: #dbdbdc;
    color: #8686ed;
}

.social-media-links-mobile {
    display: inline-flex;
    margin: 0;
    height: 21px;
    width: 100px;
    list-style: none;
    margin-bottom: 35px;
    text-align: center;
    padding: 0;
}

.social-media-links-mobile li {
    display: inline-flex;
    font-size: 21px;
    margin: 0 auto;
}

.footer-ctas a {
    text-decoration: none;
    color: #dbdbdc;
}
